/* Canvas.module.css */

.CanvasWrapper {
  background-color: #F4F3FA;
  overflow: hidden; /* Hide overflow to create the stacked effect */
}

.CanvasSection {
  border: none;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Hide overflow to create the stacked effect */
}

.CanvasItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  margin: 1rem 0rem 1rem 0rem;
  height: 95vh;
  width: 100%;
  transition: transform 0.3s ease; /* Add a transition for the stacking effect */
}

.CanvasEachCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* Add the following styles for the stacking effect */
.CanvasItem:nth-child(1) {
  transform: translateY(0);
}

.CanvasItem:nth-child(2) {
  transform: translateY(-20px);
}

.CanvasItem:nth-child(3) {
  transform: translateY(-40px);
}

.CanvasItem:nth-child(4) {
  transform: translateY(-60px);
}

.CanvasItem:nth-child(5) {
  transform: translateY(-80px);
}

.CanvasLeftSection {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 0px 0px 0px 0px;
  margin: 0;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vh;
}

.CanvasMainTitle {
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-weight: 600;
  font-size: 55px;
  margin: 0vh 20vh 0vh 20vh;
}

.CanvasSubTitle {
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-weight: 600;
  font-size: 55px;
  color: #26253B;
  margin: 0vh 20vh 0ch 20vh;
}

.CanvasRightSection {
  padding: 2px;
  margin: 0;
  width: 90vh; 
  height: 96vh;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.CanvasRightSection iframe {
  border: none;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.CanvasItem.transitioned {
  transform: translateY(0);
}
