.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  background-color: #F4F3FA;

    
  }
  
  .topBorder {
    width: 100%;
    height: 14px;
    background-color: #ff5733;
    margin-bottom: 1rem;
  }
     
  .signIn {
    align-self: flex-end;
    margin:30px 50px 0px 10px;
  }
  
  .signIn button {
    padding: 10px 30px 10px 30px;
    font-size:15px;
    border: 2px solid #787878;
    color: #08171f;
    font-weight: bold;
    border-radius: 20px; 
    animation-name: example;
    animation-duration:3s;
    animation-iteration-count: infinite;
    align-items: center;
  }

  @keyframes example {
    
    0%   {border-color: #04121a;}
    25% {border-color: #08171f;}
    50%  {border-color: #1a455e;}
    100%  {border-color: #387aa0;}
    
    0%   {color: #04121a;}
    25% {color: #08171f;}
    50%  {color: #1a455e;}
    100%  {color: #387aa0;}
      
    }
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .logo {
    display: flex;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  
  .smallLogos {
    display: flex;
    flex-direction: row;
    width: 100%; /* Occupies half the space of the main logo */
    margin-top: 10px; /* Adjust spacing as needed */
  }
  
  .smallLogo {
    margin-bottom: 10px; /* Adjust spacing between small logos as needed */
  }
  
  .smallLogo img {
    width: 100%;
    height: auto;
  }

  
  .homeHeading{
    font-weight: 600;
    font-size: 90px;
    color:#26253B;
    margin-bottom:-20px;
    padding:0;
  }
  .SubHomeHeading{  
    font-weight: 600;
    font-size: 90px;
    display:flex;
    flex-direction: row;   
    color:#26253B; 
  }
  .SubHomeHeadingImg{
    margin: 20px;
    width: 70px; /* Adjust the width as needed */
    height: 70px; 
  }

  .SubHomeHeadingImg:hover{   
    transition: transform 1s ease-in-out;
    transform: scale(1.5);
  }

  .SubHomeHeading span:nth-child(3){
    color:#ff5733;
  }
